//Menu-List
.menu-list {
  width: 224px;
  align-items: flex-start;
  .menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 8px 10px 16px;
    background-color: transparent;
    color: rgb(22, 24, 35);
    font-weight: 500;
    margin: 0;
    justify-content: flex-start;
    white-space: nowrap;

    &.separate {
      border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
      cursor: pointer;
      background: rgba(22, 24, 35, 0.03);
    }
  }
}

//Menu-item
.menu-popper {
  padding-bottom: 8px;
}

.menu-body {
  max-height: 500px;
  overflow-y: overlay;
  overflow-x: hidden;
}
//Header
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
  flex-shrink: 0;
}

.back-btn {
  background-color: transparent;
  width: 50px;
  height: 100%;
  cursor: pointer;
}

.header-title {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
