.wrapper {
  --border-radius-btn: 92px;
  --right-default: 52px;

  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  height: var(--default-height);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
}

//Action
.action {
  display: flex;
  align-items: center;
}

.more-btn {
  font-style: 2rem;
  padding: 4px 8px;
  margin-left: 24px;
  background-color: transparent;
}

.action-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 2.5rem;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 8px;
}
