.wrapper {
  font-style: 1.6rem;
  font-weight: 700;
  min-width: 100px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid transparent;

  + .wrapper {
    margin-left: 8px;
  }
}

.rounded {
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.primary {
  background-color: rgb(255, 59, 92);
  color: #fff;

  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
  }
}

.outline {
  background-color: #fff;
  border: 1px solid currentColor;
  color: rgb(255, 59, 92);

  &:hover {
    background-color: #ffefef;
  }
}

.upload {
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 2px;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  width: 146px;
  padding: 14px 16px;
}
