@import url(normalize.css);

:root {
  --primary: #fe2c55;
  --default-width: 1150px;
  --default-height: 60px;
  --black: #000;
  --text-default: #333;
  --font-family: 'TikTokFont', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--text-default);
}

//Fonts embeded
@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokFont-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokFont-Semibold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokFont-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
  font-weight: 700;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
  color: var(--text-default);
}
